name: macos-latest

on:
  push:
    branches: 
    - main
  pull_request:
    branches:
    - main

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Run tests
      run: cargo test --verbose --no-fail-fast --all-targets  
